<p id="notice"><%= notice %></p>

<p>
  <strong>Resource type:</strong>
  <%= @store_resource.resource_type %>
</p>

<p>
  <strong>Changed at:</strong>
  <%= @store_resource.changed_at %>
</p>

<p>
  <strong>Changed values:</strong>
  <%= @store_resource.changed_values %>
</p>

<%= link_to 'Edit', edit_store_resource_path(@store_resource) %> |
<%= link_to 'Back', store_resources_path %>
